.novo-curso, .curso, #contato{
    background-color: aliceblue;
}

.novo-curso{
    color: red;
}











/* h1{
    color: yellow;
} */

/* #titulo{
    color: yellow;
}

p{
    color: blue;
}

p#descricao{
    text-align: center;
    color: red;
}

.promocao{
    text-align: center;
    background-color: azure;
}

p.promocao{
    background-color: beige;
}

p.promocao.nova{
    color: red;
}

p#rodape.final-pagina{
    background-color: #CCC;
    text-align: center;
}



strong{
    color: blueviolet;
} */


